@model NettButikk.Model.Produkt

@{
    ViewBag.Title = "DetaljProdukt";
}

<h2>DetaljProdukt</h2>

<div>
    <h4>Produkt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.navn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.navn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pris)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pris)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Bestill", "Bestill", "Ordre", new { id = Model.id }, null) |
    @Html.ActionLink("Tilbake til forsiden", "Index", "Home")
</p>
