@model IEnumerable<NettButikk.Model.Produkt>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Registrer nytt produkt", "RegistrerProdukt")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.navn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pris)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.navn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pris)
        </td>
        <td>
            @Html.ActionLink("Oppdater", "OppdaterProdukt", new { id=item.id }) |
            @Html.ActionLink("Slett", "SlettProdukt", new { id=item.id })
        </td>
    </tr>
}

</table>
